html,
body {
	padding: 0;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
		Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
	html {
		color-scheme: dark;
	}

	.card {
		background: radial-gradient(var(--card-bg-1), var(--card-bg-2));
		--card-bg-1: #222222;
		--card-bg-2: #111111;
		--img-bg-opacity: 0.3;
	}

	body {
		color: white !important;
		background: black !important;
	}

	.content {
		background-color: black !important;
		color: #eeeeee !important;
	}

	.text-muted {
		background-color: black !important;
		color: #aaaaaa !important;
	}

	.video-container {
		position: relative;
		display: inline-block;
	}

	.video-container:after {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6));
		opacity: 0.8;
		transition: opacity 0.2s ease-in-out;
	}

	.video-container:hover:after {
		opacity: 1;
	}

	.video-container img {
		display: block;
		width: 100%;
		height: auto;
	}

	.navbar {
		--bs-navbar-color: rgba(255, 255, 255, 0.55);
		--bs-navbar-hover-color: rgba(255, 255, 255, 0.75);
		--bs-navbar-disabled-color: rgba(255, 255, 255, 0.25);
		--bs-navbar-active-color: #fff;
		--bs-navbar-brand-color: #fff;
		--bs-navbar-brand-hover-color: #fff;
		--bs-navbar-toggler-border-color: rgba(255, 255, 255, 0.1);
		--bs-navbar-toggler-icon-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
		--navbar-bg: linear-gradient(to right, #111111 0%, #151515 50%, #111111 100%);
	}

	.shimmer {
		--default-bg-moving-gradient: linear-gradient(to right, #111111 8%, #222222 18%, #111111 33%);
	}

	.form-control,
	.form-control:focus {
		color: #fff;
		background-color: #222;
		border-color: #222;
		box-shadow: none;
	}

	.author-info {
		box-shadow: 0px 0px 10px #333;
	}

	.btn-fab {
		--bs-btn-color: #000;
		--bs-btn-bg: #f8f9fa;
		--bs-btn-border-color: #f8f9fa;
		--bs-btn-hover-color: #000;
		--bs-btn-hover-bg: #d3d4d5;
		--bs-btn-hover-border-color: #c6c7c8;
		--bs-btn-focus-shadow-rgb: 211, 212, 213;
		--bs-btn-active-color: #000;
		--bs-btn-active-bg: #c6c7c8;
		--bs-btn-active-border-color: #babbbc;
		--bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
		--bs-btn-disabled-color: #000;
		--bs-btn-disabled-bg: #f8f9fa;
		--bs-btn-disabled-border-color: #f8f9fa;
	}

	.editable:empty:before {
		color: #555;
	}

	.border-hover:hover {
		border: 1px solid white;
	}

	.fab,
	.fab:hover {
		background-color: #eee;
		color: #111111;
		box-shadow: 0px 3px 5px rgba(255, 255, 255, 0.2), 0px 3px 5px rgba(255, 255, 255, 0.2);
	}

	a {
		color: #6cb6ff;
	}

	.content,
	p,
	li,
	label {
		color: #eee;
	}

	.mylink,
	.mylink:hover {
		color: white;
	}

	.form-select,
	.form-select:focus {
		color: #fff !important;
		background-color: #222 !important;
		border-color: #222 !important;
		box-shadow: none;
		background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23cccccc' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e");
	}
	.filter-menu {
		background-color: rgba(0, 0, 0, 0.9);
	}
}

@media (prefers-color-scheme: light) {
	.navbar {
		--navbar-bg: linear-gradient(to right, #eeeeee 0%, #eaeaea 50%, #eeeeee 100%);
	}

	.card {
		background: radial-gradient(var(--card-bg-1), var(--card-bg-2));
		--card-bg-1: #dddddd;
		--card-bg-2: #eeeeee;
		--img-bg-opacity: 0.1;
	}

	.shimmer {
		--default-bg-moving-gradient: linear-gradient(to right, rgb(238, 238, 238) 8%, rgb(222, 222, 222) 18%, rgb(238, 238, 238) 33%);
	}

	.author-info {
		box-shadow: 0px 0px 10px #ccc;
	}

	.btn-fab {
		--bs-btn-color: #fff;
		--bs-btn-bg: #212529;
		--bs-btn-border-color: #212529;
		--bs-btn-hover-color: #fff;
		--bs-btn-hover-bg: #424649;
		--bs-btn-hover-border-color: #373b3e;
		--bs-btn-focus-shadow-rgb: 66, 70, 73;
		--bs-btn-active-color: #fff;
		--bs-btn-active-bg: #4d5154;
		--bs-btn-active-border-color: #373b3e;
		--bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
		--bs-btn-disabled-color: #fff;
		--bs-btn-disabled-bg: #212529;
		--bs-btn-disabled-border-color: #212529;
	}

	.editable:empty:before {
		color: #999;
	}

	.border-hover:hover {
		border: 1px solid black;
	}

	.fab,
	.fab:hover {
		background-color: #111;
		color: #eee;
		box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.16), 0px 3px 10px rgba(0, 0, 0, 0.16);
	}

	a {
		color: #0070cc;
	}

	.content,
	p,
	li,
	label {
		color: #212135;
	}

	.mylink,
	.mylink:hover {
		color: black;
	}

	.form-select,
	.form-select:focus {
		color: initial;
		background-color: initial;
		border-color: initial;
		box-shadow: none;
	}

	.filter-menu {
		background-color: rgba(255, 255, 255, 0.9);
	}
}

.blog-card {
	display: block;
	position: relative;
	overflow: hidden;
	margin-bottom: 30px;
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
	transition: box-shadow 0.3s ease-out, transform 0.3s ease-out;
}

.blog-card:hover {
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
	transform: scale(1.02) translateZ(10px);
}

.content,
p,
li,
label {
	font-size: 18px;
	line-height: 36px;
	font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	-webkit-font-smoothing: antialiased;
}

.shimmer {
	border-radius: 20px;
	display: block;
	margin-bottom: 10px;
}


.spinner {
	animation: rotate 2s linear infinite;
	width: 50px;
	height: 50px;
}

.spinner .path {
	stroke: #93bfec;
	stroke-linecap: round;
	animation: dash 1.5s ease-in-out infinite;
}

@keyframes rotate {
	100% {
		transform: rotate(360deg);
	}
}

@keyframes dash {
	0% {
		stroke-dasharray: 1, 150;
		stroke-dashoffset: 0;
	}

	50% {
		stroke-dasharray: 90, 150;
		stroke-dashoffset: -35;
	}

	100% {
		stroke-dasharray: 90, 150;
		stroke-dashoffset: -124;
	}
}

.fab {
	position: fixed;
	bottom: 20px;
	right: 20px;
	z-index: 9999;
}

.fab-tooltip {
	display: none;
	transition: display 0.3s ease;
}

.fab:hover .fab-tooltip {
	display: inline;
}

.editable:empty:before {
	content: attr(data-placeholder);
}

.border-hover {
	border: 1px solid transparent;
}

.tox-notifications-container {
	display: none;
}

.fab.round {
	border-radius: 50%;
	width: 56px;
	height: 56px;
	display: flex;
	align-items: center;
	justify-content: center;
	position: fixed;
	right: 30px;
	bottom: 15px;
	user-select: none;
	cursor: pointer;
	font-size: 2em;
}

.round {
	border-radius: 50%;
}

.fab {
	transition: all 300ms ease-in-out;
	width: 56px;
	height: 56px;
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	right: 30px;
	bottom: 15px;
	user-select: none;
	cursor: pointer;
	font-size: 2em;
}

.fab i {
	transition: all 300ms ease-in-out;
	will-change: transform;
}

.inner-fabs .fab {
	width: 40px;
	height: 40px;
	right: 38px;
	bottom: 23px;
	font-size: 1.5em;
	will-change: bottom;
}

.inner-fabs.show .fab:nth-child(1) {
	bottom: 80px;
}

.inner-fabs.show .fab:nth-child(2) {
	bottom: 130px;
}

.inner-fabs.show .fab:nth-child(3) {
	bottom: 180px;
}

.inner-fabs.show+.fab i {
	transform: rotate(135deg);
}

.fab:before {
	content: attr(data-tooltip);
	transition: opacity 150ms cubic-bezier(0.4, 0, 1, 1);
	position: absolute;
	visibility: hidden;
	opacity: 0;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
	color: #ececec;
	right: 50px;
	top: 25%;
	background-color: rgba(70, 70, 70, 0.9);
	font-size: .5em;
	line-height: 1em;
	display: inline-block;
	text-align: center;
	white-space: nowrap;
	border-radius: 2px;
	padding: 6px 8px;
	max-width: 200px;
	font-weight: bold;
	text-overflow: ellipsis;
	vertical-align: middle;
}

.inner-fabs.show .fab:hover:before {
	content: attr(data-tooltip);
	visibility: visible;
	opacity: 1;
}

/* Login page */
.bd-placeholder-img {
	font-size: 1.125rem;
	text-anchor: middle;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}

@media (min-width: 768px) {
	.bd-placeholder-img-lg {
		font-size: 3.5rem;
	}
}

.form-signin {
	width: 100%;
	max-width: 330px;
	padding: 15px;
	margin: auto;
}

.form-signin .checkbox {
	font-weight: 400;
}

.form-signin .form-floating:focus-within {
	z-index: 2;
}

.form-signin input[type="text"] {
	margin-bottom: -1px;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
	margin-bottom: 10px;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

.form-floating label {
	font-size: initial;
	line-height: normal;
}

/* Login page ends */

.breadcrumb-item a {
	color: unset;
}

.breadcrumb-item a:hover {
	color: unset;
	text-decoration: underline;
}

/* Filter */
/* Styles for the filter menu */
.filter-menu {
	position: fixed;
	top: 0;
	right: -400px;
	width: 400px;
	height: 100%;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	transition: right 0.3s ease;
	z-index: 999;
	overflow-y: auto;
	border-radius: 15px 0 0 15px;
}

.filter-menu.active {
	right: 0;
}

.black-backdrop {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.2);
	visibility: hidden;
	opacity: 0;
	transition: opacity 0.3s ease, visibility 0s linear 0.3s;
	z-index: 998;
}

.black-backdrop.active {
	visibility: visible;
	opacity: 1;
	transition-delay: 0s;
}

/* Filter end */